@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    min-width: 300px;
}

section,
header {
    text-align: center;
    margin: 0;
    padding: 10%;
    background-color: white;
    border-top: 1px solid #2A2A2A;
}

header {
    background: url("/assets/img/bg-3.jpg") #F8B109 no-repeat center;
    background-size: cover;
    padding: 5vh 10%;
}

header.largeHeader {
    padding: 30vh 10%;
}

footer {
    background-color: #2a2a2a;
    color: lightgray;
    text-decoration: none;
    display: block;
    padding: 1.5em 2em;
    text-align: right;
}

footer a {
    color: currentColor;
    text-decoration: none;
}

article {
    padding-top: 5%;
}

.icons-horizontal {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icons-horizontal li {
    display: inline-block;
    padding: 2%;
    border-bottom: 1px solid white;
    transition-duration: .5s
}

.icons-horizontal li:not(.noHover):hover {
    border-bottom: 1px solid #F8B109;
}

.icons-horizontal img {
    width: 72px;
}

.icons-horizontal a {
    text-decoration: none;
    color: currentColor;
}

table {
    margin: auto;
}

table img {
    vertical-align: bottom
}

table .projectList-Links {
    min-width: 105px;
}

table .projectList-Links img {
    margin: 5%;
}

table .projectList-name a {
    color: #F8B109;
    font-weight: bold;
}

.loading {
    width: 100px;
    height: 100px;
    background-image: url('/assets/img/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    background-size: 72px;
}

.titleDash {
    display: inline;
}

.reverseTitleDash,
.reverseTitleDash600 {
    display: none;
}

@media screen and (max-width: 400px) {
    .titleDash {
        display: none;
    }
    .reverseTitleDash {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .reverseTitleDash600 {
        display: inline-block;
    }
}