@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

section,
header {
    text-align: center;
    margin: 0;
    padding: 10%;
    background-color: white;
    border-top: 1px solid #2A2A2A;
}

header {
    background: url("/assets/img/bg-3.jpg") orange no-repeat center;
    background-size: cover;
}

header.largeHeader {
    padding: 30vh 10%;
}

footer {
    background-color: #2a2a2a;
    color: lightgray;
    text-decoration: none;
    display: block;
    padding: 1.5em 2em;
    text-align: right;
}

footer a {
    color: currentColor;
    text-decoration: none;
}

.icons-horizontal {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icons-horizontal li {
    display: inline-block;
    padding: 2%;
    border-bottom: 1px solid white;
    transition-duration: .5s
}

.icons-horizontal li:hover {
    border-bottom: 1px solid #F8B109;
}

.icons-horizontal img {
    width: 72px;
}

.icons-horizontal a {
    text-decoration: none;
    color: currentColor;
}