@charset "UTF-8";
nav {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 1px 5px 0px #2A2A2A;
}

nav h2 {
    display: inline-block;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    text-align: right;
    display: inline;
    position: absolute;
    right: 20px;
}

nav ul li {
    display: inline-block;
    padding: .5em 0;
}

nav ul li a {
    text-decoration: none;
    color: currentColor;
    padding: .5em 1em;
    border-bottom: 1px solid white;
}

nav a:hover {
    transition-duration: .5s;
    border-bottom: 1px solid #F8B109;
}

nav ul li a.current {
    border-bottom: 1px solid #F8B109;
    color: #F8B109;
}